.container {
  display: grid;
  grid-template-rows: 0.3fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1.3fr;
  gap: 16px;
  height: 80dvh;
  max-height: 1100px;
  margin-inline: auto;
}

@media screen and (width >= 744px) {
  .container {
    gap: 24px;
    height: 100dvh;
  }
}

@media screen and (width >= 1200px) {
  .container {
    gap: 40px;
    height: 140dvh;
    min-height: 1100px;
  }
}
