.container {
  height: 80dvh;
  max-height: 1100px;

  display: grid;
  grid-template-columns: 1fr 1.3fr;
  grid-template-rows: 0.3fr 1fr 1fr 1fr;
  margin-inline: auto;

  gap: 16px;
}

@media screen and (min-width: 744px) {
  .container {
    height: 100dvh;
    gap: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    height: 140dvh;
    gap: 40px;
    min-height: 1100px;
  }
}
