.container {
  --padding-content: 12px;
  --gap-description: 12px;

  position: relative;
  z-index: 0;

  display: flex;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: var(--radius-300);
  height: 100%;

  color: var(--clr-main-text);
  background-color: rgba(0, 0, 0);
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: transform 300ms ease;
}

.caption {
  position: absolute;
  bottom: var(--padding-content);
  left: var(--padding-content);

  width: 80%;

  font-weight: var(--fw-light);
  font-size: var(--fs-case-card-title);
  letter-spacing: -0.8px;
}

.hover {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: var(--gap-description);

  transition: ease 500ms;
  padding: var(--padding-content);

  opacity: 0;
  backdrop-filter: blur(20px);
  cursor: pointer;
}

.description {
  width: 94%;

  font-size: var(--fs-case-card-description);
  font-weight: var(--fw-light);
  color: rgba(255, 255, 255, 0.6);
}

.further {
  align-self: flex-end;

  font-size: var(--fs-case-card-description);
  font-weight: var(--fw-regular);
  color: var(--clr-main-text);
  text-decoration-line: underline;
}

.further::after {
  display: inline-block;
  width: 14px;
  height: 12px;
  margin-left: 11px;

  vertical-align: middle;

  background-color: var(--clr-main-text);

  opacity: 0.75;

  content: "";
  clip-path: polygon(33% 48%, 1% 0%, 24% 0%, 56% 47%, 21% 100%, 0% 99%);
}

@media (hover: hover) {
  .hover:hover {
    opacity: 1;
  }

  .container:hover > img {
    transform: scale(1.05);
  }
}

@media screen and (min-width: 744px) {
  .container {
    --padding-content: 20px;
  }
}

@media screen and (min-width: 960px) {
  .container {
    --padding-content: 14px;
  }

  .caption {
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    --padding-content: 20px;
  }

  .caption {
    width: 80%;
    font-weight: var(--fw-regular);
  }
}

@media screen and (min-width: 1920px) {
  .hover {
    --gap-description: 32px;
  }

  .description {
    width: 90%;
  }
}
