.stack {
  display: flex;
  flex-direction: column;
  gap: 65px;
}

.stackTitle {
  font-size: 24px;
  font-weight: var(--fw-bold);
  line-height: 100%;
  letter-spacing: -1.2px;
  margin-bottom: 18px;
}

.stackChips {
  display: flex;
  flex-wrap: wrap;
  row-gap: 13px;
  column-gap: 5px;
}

@media (min-width: 375px) {
  .stackChips {
    max-width: 65%;
  }
}

@media (min-width: 744px) {
  .stackTitle {
    font-size: 32px;
    letter-spacing: -1.6px;
    margin-bottom: 22px;
  }

  .stackChips {
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  .stack {
    flex-direction: row;
    justify-content: space-between;
  }

  .stackChips {
    max-width: 100%;
  }
}

@media (min-width: 1920px) {
  .stackChips {
    max-width: 80%;
  }
}
