.container {
  display: flex;
  gap: 5px;
  align-items: center;
  width: 100%;
  border: none;

  background-color: transparent;
  cursor: pointer;

  appearance: none;
}

.title {
  color: #414141;
  font-weight: 600;
  font-size: 20px;
  text-wrap: nowrap;

  transition: all ease-in-out 0.5s;
}

.activeTitle {
  color: #827eff;
}

.circle {
  position: relative;

  width: 16px;
  min-width: 16px;
  border-radius: 50px;

  background: #414141;
  aspect-ratio: 1/1;
}

.circle::before {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 10px;
  height: 10px;
  border-radius: 50px;

  background-color: white;
  transform: translate(-50%, -50%);

  content: "";
}

.circle.activeCircle {
  border-radius: 50px;

  background: linear-gradient(240deg, #c8b5ff, #827eff);
}

.progress {
  position: relative;

  width: 100%;
  height: 10px;
  border-radius: 15px;
  overflow: hidden;

  background: #414141;
}

.progress::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  width: 0;
  border-radius: inherit;

  background: linear-gradient(240deg, #c8b5ff, #827eff);

  transition: all ease-in-out 0.5s;

  content: "";
}

.progress.activeProgress::before {
  right: auto;
  left: 0;

  width: 100%;
}
