.container {
  position: relative;

  z-index: 2;

  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: var(--gap-layout);
  margin-bottom: 40px;

  background-color: #000;
  margin-inline: auto;
}

.contentContainer {
  position: relative;

  width: 94%;
  max-width: var(--ui-desktop-medium-device-size);
  margin-inline: auto;
}

.contentContainer:before,
.contentContainer:after {
  position: absolute;

  width: 80vh;
  border-radius: 50%;

  content: "";
  aspect-ratio: 1/1;
}

.contentContainer:before {
  bottom: 0;
  left: 0;

  max-width: 581px;

  background: rgba(124, 254, 253, 0.4);
  opacity: 0;
  filter: blur(345.20001220703125px);
}

.contentContainer:after {
  top: 0;
  right: 0;

  max-width: 313px;

  background: rgba(204, 11, 11, 0.5);
  transform: translate(50%, -50%) translate3d(0, 0, 0);
  filter: blur(150px);
}

.navContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  height: 100%;
}

.nav,
.navList {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.nav a,
.nav button {
  font-size: 20px;
}

.cards {
  display: none;
}
.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;

  width: 40%;

  transform: translate(50%, -50%);

  /* width: fit-content; */
  /* height: 320px; */
}
.wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .image {
  position: absolute;
  top: -70%;
  right: 0%;
  z-index: -2;

  width: fit-content;
  height: 320px;
  object-fit: cover;
} */

.imagesContainer {
  display: flex;
  gap: 24px;
}

.imagesContainer img {
  width: 48px;
  height: 48px;
}

.leftSide {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
  width: 23%;
}

.leftSide > p {
  width: 90%;

  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 120%;
  letter-spacing: -0.4px;
}

.leftSide a {
  color: #fff;
  font-weight: 400;

  font-size: 20px;
  font-style: normal;
  line-height: 120%;
  letter-spacing: -0.4px;
  text-decoration-line: underline;
}

.benefit {
  position: relative;

  display: none;
  flex-direction: column;
  gap: 24px;
  order: 3;
  box-sizing: border-box;
  width: 30%;
  height: fit-content;
  padding: 32px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;

  font-size: 12px;

  background: #000;
  cursor: pointer;
}

.benefit p:nth-child(1),
.benefit p:nth-child(2) {
  font-style: normal;
  line-height: 120%;
}

.benefit p:nth-child(1) {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

.benefit p:nth-child(2) {
  color: #ffffffc0;
  font-weight: 400;
  font-size: 12px;
}

.lowerInfo {
  display: none;
}

.nav .lowerInfo p,
.nav .lowerInfo a {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;

  font-size: 14px;
  font-style: normal;
  line-height: 120%;
  letter-spacing: -0.28px;
}

.lowerInfo a {
  text-decoration-line: underline;
}

.lowerInfoMobile p,
.lowerInfoMobile a {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;

  font-size: 14px;
  font-style: normal;
  line-height: 120%;
  letter-spacing: -0.28px;
}

.lowerInfoMobile a {
  text-decoration-line: underline;
}

.lowerInfoMobile {
  order: 3;
}

.navList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  column-gap: 100px;
  row-gap: 32px;
}

.navList {
  order: 1;
}

.leftSide {
  order: 2;
}

.logo {
  width: fit-content;
  margin-inline: auto;
}

.navContainer {
  flex-direction: column;
  margin-top: 40px;
}

.leftSide {
  width: 100%;
}

.leftSide a {
  width: min-content;
}

/* .benefit {
  display: none;
  order: 3;
  width: 30%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;

  font-size: 12px;

  background: #000;
} */

@media (hover: hover) {
  .benefit:hover button {
    background-color: var(--clr-button-secondary-bg);
  }

  .benefit:hover::before {
    position: absolute;
    z-index: 1;

    padding: 1px;
    border-radius: var(--radius-200);

    background: var(--clr-border-gradient);

    content: "";
    inset: 0;
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: xor;
    mask-composite: exclude;
  }

  .benefit:hover {
    border: 1px solid #fff0;
  }
}

@media screen and (min-width: 450px) {
}

@media screen and (min-width: 530px) {
  .navList {
    width: 60%;

    text-align: center;
    margin-inline: auto;
  }

  .navList div {
    text-align: center;
    margin-inline: auto;
  }
}

@media screen and (min-width: 960px) {
  .contentContainer:after {
    max-width: 430px;

    transform: translate(50%, -50%);

    filter: blur(250px);
  }

  .navContainer {
    flex-wrap: nowrap;
  }

  .navList {
    width: auto;

    text-align: start;
    margin-inline: 0;
  }

  .benefit {
    display: flex;
  }

  .lowerInfoMobile {
    display: none;
  }

  .imagesContainer {
    gap: 26px;
  }

  .imagesContainer img {
    width: 40px;
    height: 40px;
  }

  .lowerInfo {
    display: flex;
    margin-top: auto;
  }
  .nav {
    gap: unset;
  }

  .nav a {
    margin-bottom: 32px;

    font-size: 20px;
  }

  .image {
    top: -35%;
  }

  /* .nav {
		align-items: center;
		margin-inline: auto;
	} */

  .navList {
    flex-direction: row;
  }

  /* .cards {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		max-width: 750px;
		margin-inline: auto;
	} */
  .nav {
    flex-direction: column-reverse;
    order: 2;
    width: fit-content;
  }

  .navList {
    column-gap: 50px;
  }

  .leftSide {
    order: 1;
    width: min-content;
  }

  .leftSide > a {
    cursor: pointer;
  }

  .lowerInfo {
    flex-direction: column;
  }

  .navContainer {
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contentContainer:before {
    opacity: 1;
  }

  .benefit p:nth-child(1) {
    color: #fff;
    font-weight: 600;
    font-size: 32px;
    font-style: normal;
    line-height: 120%;
  }

  .benefit p:nth-child(2) {
    color: #ffffffc0;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 120%;
  }

  .imagesContainer {
    gap: 32px;
  }

  .imagesContainer img {
    width: 72px;
    height: 72px;
  }

  .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .contentContainer {
    margin-inline: auto;

    display: flex;

    flex-direction: column;
    gap: 24px;
  }

  .benefit > button {
    min-height: 80px;
  }

  .cards {
    margin-inline: unset;

    max-width: 990px;
  }

  .nav {
    gap: 24px;
    align-items: flex-start;
    margin-inline: unset;
  }

  .nav a {
    margin-bottom: unset;

    font-size: 20px;
  }

  .image {
    top: -60%;

    height: 430px;
  }
}

@media screen and (min-width: 1400px) {
  .image {
    top: -80%;

    height: 600px;
  }
}
