.container {
  position: relative;

  z-index: 2;

  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: var(--gap-layout);
  margin-bottom: 40px;

  background-color: #000;
  margin-inline: auto;
}

.navContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.buttons {
  margin-top: auto;
}

.nav,
.navList {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.nav a {
  font-size: 20px;
}

.buttons {
  display: flex;
  gap: 16px;
  align-self: center;
  margin-inline: auto;
}

.cards {
  display: none;
}

.image {
  position: absolute;
  top: -70%;
  right: 0%;
  z-index: -2;

  width: fit-content;
  height: 320px;
  object-fit: cover;
}

.glow:nth-of-type(1) {
  position: absolute;
  right: 0;
  bottom: 60%;
  z-index: -1;

  width: 80vw;
  border-radius: 50%;

  background: rgb(204 11 11 / 50%);
  filter: blur(150px);
  aspect-ratio: 1/1;
}

.glow:nth-of-type(2) {
  position: absolute;
  z-index: -2;

  width: 30%;
  aspect-ratio: 1/1;
}

@media screen and (min-width: 450px) {
  .glow:nth-of-type(1) {
    width: 50vw;
  }
}

@media screen and (min-width: 744px) {
  .glow:nth-of-type(2) {
    top: -20%;
    left: -50%;

    background: rgb(124 254 253 / 40%);
    filter: blur(345.20001220703125px);
  }

  .nav {
    gap: unset;
  }

  .nav a {
    margin-bottom: 32px;

    font-size: 20px;
  }

  .image {
    top: -35%;
  }

  .glow:nth-of-type(1) {
    right: 0;
    bottom: 50%;

    width: 40vw;

    background: rgb(204 11 11 / 80%);
    filter: blur(250px);
  }

  .nav {
    align-items: center;
    margin-inline: auto;
  }

  .navList {
    flex-direction: row;
  }

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 750px;
    margin-inline: auto;
  }

  .buttons {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .navContainer {
    flex-wrap: nowrap;
  }

  .cards {
    margin-inline: unset;

    max-width: 990px;
  }

  .nav {
    gap: 24px;
    align-items: flex-start;
    margin-inline: unset;
  }

  .nav a {
    margin-bottom: unset;

    font-size: 20px;
  }

  .navList {
    flex-direction: column;
  }

  .image {
    top: -60%;

    height: 430px;
  }

  .glow:nth-of-type(1) {
    right: 0;
    bottom: 20%;

    width: 40vw;

    background: rgb(204 11 11 / 30%);
    filter: blur(350px);
  }

  .glow:nth-of-type(2) {
    top: -30%;
    left: -20%;

    background: rgb(124 254 253 / 40%);
    filter: blur(345.20001220703125px);
  }
}

@media screen and (min-width: 1400px) {
  .image {
    top: -80%;

    height: 600px;
  }
}
