.hero {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  min-height: max-content;
  overflow: hidden;
  margin-inline: auto;
  padding-block: var(--header-height);
}

.hero::before {
  position: absolute;
  z-index: 1;
  inset: 0;

  width: 100vw;
  height: auto;

  background: linear-gradient(330deg, #000 16.22%, rgb(0 0 0 / 0%) 74.01%);

  content: "";
}

.content {
  --gap-content: 26px;

  position: relative;

  display: flex;
  flex-direction: column;
  row-gap: var(--gap-content);
  justify-content: center;
}

.imgWrapper {
  z-index: 2;
  margin-block-start: 26.5px;
  margin-inline: auto;

  width: 80%;
  height: auto;

  opacity: 0.7;
  mix-blend-mode: difference;
}

.imgWrapper img {
  width: 100%;
  height: 100%;
}

.text {
  --fs-hero-title: 40px;
  --fs-hero-description: 14px;
  --gap-hero-text: 20px;

  z-index: 3;

  display: flex;
  flex-direction: column;

  word-break: break-word;
  row-gap: var(--gap-hero-text);
}

.title {
  width: fit-content;

  font-weight: var(--fw-bold);
  font-size: var(--fs-hero-title);
  line-height: 90%;
  letter-spacing: -1.302px;

  background: var(--clr-title-gradient);
  background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  width: 90%;

  color: var(--clr-secondary-text);
  font-weight: var(--fw-light);
  font-size: var(--fs-hero-description);
  line-height: 130%;
  letter-spacing: -0.7px;
}

.title::first-letter,
.subtitle::first-letter {
  text-transform: uppercase;
}

.keywords {
  --gap-col-keywords: 4.8px;
  --gap-row-keywords: 11.6px;

  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  column-gap: var(--gap-col-keywords);
  row-gap: var(--gap-row-keywords);
}

@media screen and (min-width: 744px) {
  .content {
    --gap-content: 32px;

    padding-top: 100px;
  }

  .text {
    --fs-hero-title: 70px;
    --fs-hero-description: 20px;
    --gap-hero-text: 32px;
  }

  .title {
    letter-spacing: -2px;
  }

  .subtitle {
    width: 85%;

    letter-spacing: -1px;
  }

  .imgWrapper {
    width: 100%;
  }

  .keywords {
    width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    justify-content: center;
    padding-block: 0;

    height: 100vh;
  }

  .content {
    --gap-content: 32px;
  }

  .imgWrapper {
    position: absolute;
    right: 0;
    z-index: 1;

    width: 90vh;
    margin: 0;
  }

  .title {
    width: 70%;
  }

  .subtitle {
    width: 45%;
  }

  .keywords {
    width: 60%;
  }

  .keywords {
    --gap-col-keywords: 6px;
    --gap-row-keywords: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .content {
    --gap-content: 32px;
  }

  .title {
    width: 70%;
  }

  .subtitle {
    width: 50%;
  }

  .keywords {
    width: 40%;
  }
}

@media screen and (min-width: 1920px) {
  .content {
    --gap-content: 40px;
  }

  .imgWrapper {
    top: -10%;
    width: 85vh;
  }

  .text {
    --fs-hero-title: 100px;
    --gap-hero-text: 51px;
  }

  .title {
    width: 80%;

    line-height: 103.5%;
  }

  .keywords {
    --gap-row-keywords: 21px;
  }
}
