.hero {
  --clr-case-hero-bg: linear-gradient(
    285.56deg,
    #000 16.22%,
    transparent 74.01%
  );

  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  margin-inline: auto;
  width: 90%;
  min-height: 900px;
  height: auto;
  padding-block: var(--header-height);
  background-image: url("../../../../public/cases/silver-lines-bg.png");
  background-color: var(--clr-case-hero-bg);
}

.content {
  --gap-content: 26px;

  display: flex;
  flex-direction: column;
  row-gap: var(--gap-content);
  justify-content: center;
  padding-top: 170px;
}

.imgWrapper {
  margin-block-start: 26.5px;
  height: auto;
  opacity: 0.7;
}

.imgWrapper img {
  width: 100%;
  height: 100%;
}

.keywords {
  --gap-col-keywords: 4.8px;
  --gap-row-keywords: 11.6px;

  display: flex;
  flex-wrap: wrap;
  column-gap: var(--gap-col-keywords);
  row-gap: var(--gap-row-keywords);
  width: 80%;
}

@media screen and (width >=744px) {
  .imgWrapper {
    width: 70vw;
  }
}

@media screen and (width >=1200px) {
  .hero {
    height: 100vh;
    padding-block: 0;
  }

  .content {
    --gap-content: 32px;

    flex-grow: 1;
    width: 60%;
    padding-top: 100px;
  }

  .imgWrapper {
    position: absolute;
    bottom: 5%;
    right: -5%;
    z-index: -1;
    margin: 0;
    width: 90vh;
  }

  .keywords {
    --gap-col-keywords: 6px;
    --gap-row-keywords: 16px;
  }
}

@media screen and (width >=1440px) {
}

@media screen and (width >=1920px) {
  .content {
    --gap-content: 40px;

    width: 65%;
  }

  .keywords {
    --gap-row-keywords: 21px;
  }
}
