.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--gap-widget);
}

.contactsWrapper {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  gap: var(--gap-contacts);
  width: 100%;
}