.text {
  --fs-benefit-title: 18px;
  --fs-benefit-subtitle: 10px;
  --clr-benefit-title: #fff;
  --clr-benefit-subtitle: rgba(255, 255, 255, 0.6);
  --gap-benefit-text: 16px;

  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--gap-benefit-text);

  text-align: center;
}

.title {
  width: min-content;

  color: var(--clr-benefit-title);
  font-weight: var(--fw-regular);
  font-size: var(--fs-benefit-title);

  background: var(--clr-title-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  width: 90%;

  color: var(--clr-benefit-subtitle);
  font-weight: var(--fw-regular);
  font-size: var(--fs-benefit-subtitle);
}

@media screen and (min-width: 485px) {
  .text {
    --fs-benefit-subtitle: 12px;
  }

  .subtitle {
    width: 75%;
  }
}

@media screen and (min-width: 500px) {
  .text {
    --fs-benefit-title: 20px;
    --fs-benefit-subtitle: 14px;
    --gap-benefit-text: 18px;
  }
}

@media screen and (min-width: 600px) {
  .text {
    --fs-benefit-title: 24px;
    --fs-benefit-subtitle: 16px;
    --gap-benefit-text: 20px;
  }

  .subtitle {
    width: 65%;
  }
}

@media screen and (min-width: 744px) {
  .text {
    --fs-benefit-title: 42px;
    --fs-benefit-subtitle: 18px;
    --gap-benefit-text: 24px;
  }
}

@media screen and (min-width: 800px) {
  .subtitle {
    width: 60%;
  }
}

@media screen and (min-width: 960px) {
  .text {
    --fs-benefit-title: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .text {
    --fs-benefit-title: 42px;
    --fs-benefit-subtitle: 18px;
    --gap-benefit-text: 28px;
  }

  .subtitle {
    width: 85%;
  }
}

@media screen and (min-width: 1440px) {
  .text {
    --fs-benefit-title: 48px;
    --fs-benefit-subtitle: 22px;
  }

  .subtitle {
    width: 90%;
  }
}

@media screen and (min-width: 1600px) {
  .text {
    --fs-benefit-subtitle: 24px;
  }

  .subtitle {
    width: 85%;
  }
}

@media screen and (min-width: 1920px) {
  .subtitle {
    width: 75%;
  }
}
