.divider {
  width: 100%;
  height: 3px;

  background: rgb(255 255 255 / 8%);
  margin-block: 50px;
}

@media (min-width: 744px) {
  .divider {
    margin-block: 80px;
  }
}

@media (min-width: 1200px) {
  .divider {
    margin-block: 100px;
  }
}
