.list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.link {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: last baseline;

  color: #fff;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -2.4px;

  cursor: pointer;

  transition: all 0.5s;
}

.title span {
  text-transform: capitalize;
}

.count {
  color: #a92626;
  font-size: 16px;
  letter-spacing: -1.2px;
}

.navigate {
  display: flex;
  gap: 10px;

  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.48px;

  transition: all 0.5s;
}

.wrapper {
  width: 9px;
  height: 16px;
  rotate: 180deg;
  scale: 0.7;
}

.wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (hover: hover) {
  .link:hover img {
    animation: arrow-slider-anim 1.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
  }
  .link:hover {
    scale: 1.005;
  }

  .link:hover .navigate {
    color: #fff;
  }
}

@keyframes arrow-slider-anim {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

@media screen and (min-width: 744px) {
  .list {
    gap: 90px;
  }

  .item {
    gap: 32px;
  }

  .link {
    display: flex;
    gap: 20px;
    align-items: last baseline;
    padding-left: 32px;

    font-size: 48px;
  }

  .count {
    font-size: 24px;
  }

  .navigate {
    gap: 20px;

    font-size: 24px;
  }

  .wrapper {
    scale: none;
  }
}
