.infoWrapper {
  display: flex;
  flex: 1.5;
  flex-direction: column;
  gap: 40px;
}

.infoParagraph {
  color: var(--clr-secondary-text);
  font-weight: var(--fw-light);
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.8px;
}

@media (width >= 744px) {
  .infoParagraph {
    font-size: 25px;
    letter-spacing: -1.25px;
  }

  .infoWrapper {
    gap: 25px;
  }
}
