.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: background-color 0.3s;
}

.slide:nth-child(1) {
  align-self: center;
}

.slide img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 744px) {
  .slide:nth-child(1) {
    align-self: flex-start;
  }

  .slide:nth-child(2) {
    align-self: flex-end;
  }
  .slide {
    width: 48%;
  }

  .slide::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .slide.active::after {
    background-color: rgba(0, 0, 0, 0);
  }
}

@media screen and (min-width: 1200px) {
  .slide:nth-child(1) {
    align-self: flex-start;
  }
  .slide:nth-child(2) {
    align-self: center;
  }
  .slide:nth-child(3) {
    align-self: flex-end;
  }
  .slide {
    width: 32%;
  }
}
