.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;

  color: #fff;

  background: #101010;

  transition: all 0.3s;
  contain: layout;
}

.active {
  gap: 16px;

  background: rgba(211, 11, 11, 1);
}

.preview {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  display: flex;
  flex-direction: column;
}

.title {
  max-width: 207px;

  font-weight: 600;
  font-size: 18px;
  line-height: 98%;
  letter-spacing: -0.36px;
}

.mark {
  color: var(--clr-secondary-text);
  font-weight: 600;
  font-size: 18px;
  line-height: 98%;
  letter-spacing: -0.36px;
}

.date {
  align-self: flex-end;
}

.timeCount {
  font-weight: 600;
  font-size: 24px;
  line-height: 95%;
  letter-spacing: -0.6px;
}

.timeInfo {
  color: rgba(255, 255, 255, 0.85);
  font-weight: 400;
  font-size: 9.5px;
  letter-spacing: -0.19px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 6px;
  overflow: hidden;

  color: rgba(255, 255, 255, 0.85);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.24px;
}

.wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 960px) {
  .card {
    padding: 24px;
  }

  .active {
    gap: 22px;
  }

  .title,
  .mark {
    max-width: 225px;

    font-size: 24px;
    line-height: 98%;
    letter-spacing: -0.48px;
  }

  .description {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.28px;
  }

  .timeCount {
    font-size: 37.5px;
    letter-spacing: -0.937px;
  }

  .timeInfo {
    font-size: 14.25px;
    letter-spacing: -0.285px;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    min-width: 552px;
    padding: 24px;
  }

  .active {
    gap: 22px;
    min-width: 660px;
  }

  .title {
    max-width: 302px;

    font-weight: 600;
    font-size: 32px;
    line-height: 98%;
    letter-spacing: -0.64px;
  }

  .description {
    font-size: 19px;
    letter-spacing: -0.38px;
  }

  .timeCount {
    font-size: 50px;
    letter-spacing: -1.25px;
  }

  .timeInfo {
    font-size: 19px;
    letter-spacing: -0.38px;
  }
}

@media screen and (max-height: 720px) {
  .title {
    font-size: 28px;
  }
}
