.section {
  --gap-section: 24px;
  --gap-cards: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--gap-section);
}

.container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap-cards);
}

@media screen and (min-width: 744px) {
  .section {
    --gap-section: 48px;
    --gap-cards: 60px;
  }

  .container {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    --gap-section: 64px;
    --gap-cards: 80px;
  }

  .container {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
  }
}
