.card {
  border: 1px solid var(--clr-border);
  border-radius: var(--radius-100);
  background-clip: padding-box;
  padding: 16px;
  display: flex;
  gap: 16px;
  box-sizing: border-box;
  flex: 1;
  min-height: max-content;
  position: relative;
}

.card.withIcon {
}

.card.withoutIcon {
}

.cardTitle {
  padding-top: 4%;
  line-height: 120%;
  font-weight: var(--fw-semibold);
}

.cardDesc {
  line-height: 120%;
  font-weight: var(--fw-light);
  white-space: break-spaces;
}

.card.withIcon .cardTitle {
  font-size: 24px;
}

.card.withoutIcon .cardTitle {
  font-size: 16px;
  margin-bottom: 8px;
}

.card.withIcon .cardDesc {
  font-size: 16px;
}

.card.withoutIcon .cardDesc {
  font-size: 12px;
}

.cardImage {
  flex-shrink: 0;
  width: 25%;
  align-self: start;
}
.cardImage img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.cardButton {
  margin-top: auto;
}

.cardButton > button {
  width: 100%;
  border-radius: 40px;
  margin-top: 16px;
  min-height: 60px;
}

.card.withoutIcon .cardButton > button {
  max-width: 125px;
  width: 100%;
  height: 40px;
  font-size: 10px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media (hover: hover) {
  .card:hover button {
    background-color: var(--clr-button-secondary-bg);
  }
  .card:hover::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: var(--radius-200);
    padding: 1px;
    background: var(--clr-border-gradient);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: xor;
    mask-composite: exclude;

    z-index: 1;
  }
  .card:hover {
    border: 1px solid #ffffff00;
  }
}

@media (width >= 375px) {
  .cardButton > button {
  }

  .cardImage {
  }

  .card.withIcon .cardButton > button,
  .card.withoutIcon .cardButton > button {
    max-width: 250px;
  }
}

@media (width >= 744px) {
  .cardImage {
  }
  .cardButton > button {
    margin-top: 24px;
  }
}

@media (width >= 960px) {
  .card.withIcon {
    padding: 24px;
    gap: 40px;
  }

  .card.withIcon .cardDesc {
    font-size: 18px;
  }
}

@media (width >= 1200px) {
  .card.withIcon {
  }

  .card.withoutIcon {
    padding: 40px;
  }
  .cardButton > button {
    margin-top: 36px;
  }
  .cardImage {
  }

  .card.withIcon .cardDesc,
  .card.withoutIcon .cardDesc {
    font-size: 20px;
  }

  .card.withIcon .cardTitle,
  .card.withoutIcon .cardTitle {
    font-size: 32px;
  }

  .card.withIcon .cardButton > button,
  .card.withoutIcon .cardButton > button {
    max-width: 250px;
    width: 100%;
    height: 80px;
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .card.withoutIcon {
    padding: 24px;
  }
}
