.basis {
  cursor: pointer;
  width: var(--btn-width);
  height: var(--btn-height);
  color: var(--clr-main-text);
  font-size: var(--fs-button-text);
  font-weight: var(--fw-light);
  border-radius: var(--radius-400);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all ease-in-out 0.2s;
}

.primary {
  background: var(--clr-button-primary-bg);
}

.secondary {
  background: var(--clr-button-secondary-bg);
}

.transparent::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: var(--radius-400);
  padding: 1px;
  background: var(--clr-button-transparent-gradient);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: xor;
}

.basis:disabled {
  pointer-events: none;
  background: #191919;
}

@media (hover: hover) {
  .basis:hover {
    transform: scale(1.05);
  }
}
