.container {
  position: relative;

  width: 100%;
  height: auto;
  padding-block: 40px;
}

.sticker {
  position: relative;
  top: 0;
  z-index: 2;

  display: flex;
  flex-flow: column wrap;
  gap: 42px;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-around;
  height: auto;
  margin-inline: auto;
}

.info {
  display: flex;
  align-items: center;

  color: #fff;
  font-weight: 600;
  font-size: 24px;
  font-style: normal;
  line-height: 90%;
  letter-spacing: -0.771px;
}

.info br {
  display: none;
}

.motionContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-end;
  justify-content: flex-start;
  width: 80%;
  margin-left: auto;
  border-left: 1px solid rgb(255 255 255 / 20%);
  transition: all ease-in-out 1s linear;
}

.glowBlue,
.glowRed {
  position: absolute;
  aspect-ratio: 1/1;

  width: 90%;
}

.glowBlue {
  right: -55%;
  bottom: 5%;

  border-radius: 263px;

  background: rgb(124 254 253 / 50%);
  filter: blur(150px);
}

.glowRed {
  top: -5%;
  left: -25%;

  border-radius: 330px;

  background: rgb(204 11 11 / 50%);
  filter: blur(150px);
}

.net {
  position: absolute;
  top: 0;
  right: 0;

  width: 46%;
  height: 100%;
}

.raindop {
  position: absolute;
  top: -10%;
  left: -20%;
  z-index: -1;

  height: 80vw;
  aspect-ratio: 1/1;
  rotate: 86.083deg;
}

.raindop img,
.net img,
.raindrops img {
  width: 100%;
  height: 100%;
}

.raindrops {
  position: absolute;
  top: 65%;
  right: -70%;

  width: 150vw;
  rotate: -60deg;
}

@media screen and (width > 500px) {
  .motionContainer {
    margin-left: auto;
  }

  .raindop {
    height: 50vw;
  }

  .raindrops {
    position: absolute;
    top: 65%;
    right: -25%;

    width: 70vw;
    rotate: -60deg;
  }
}

@media screen and (width > 744px) {
  .container {
  }

  .sticker {
    gap: 50px;
    justify-content: flex-end;
  }

  .info {
    position: absolute;
    top: 0;
    left: 0;

    height: 60vh;

    font-size: 37.267px;
    letter-spacing: -1.065px;
  }

  .sticker {
    position: sticky;
    top: 0;

    flex-direction: row;
  }

  .glowBlue {
    right: -80%;
  }

  .glowRed {
    top: -25%;
    left: -75%;
  }

  .raindrops {
    top: 30%;
    right: -30%;

    width: 60vw;
  }

  .raindop {
    top: -25%;
    left: -20%;

    height: 50vw;
    rotate: 86.083deg;
  }

  .info br {
    display: block;
  }

  .motionContainer {
    width: 50%;
    padding-bottom: 20vh;
  }
}

@media screen and (width > 1200px) {
  .motionContainer {
    display: flex;
    gap: 200px;
    align-items: center;
    width: 60%;
  }

  .info {
    font-size: 50px;
    letter-spacing: -2px;
  }

  .glowBlue {
    right: -85%;
    bottom: -50%;

    border-radius: 581px;

    background: rgb(124 254 253 / 50%);
    filter: blur(345.20001220703125px);
  }

  .glowRed {
    top: -60%;
    left: -80%;

    border-radius: 921px;

    background: rgb(204 11 11 / 50%);
    filter: blur(350px);
  }

  .raindop {
    position: absolute;
    top: -25%;
    left: -10%;

    height: 500px;
    rotate: 72deg;
  }

  .raindrops {
    position: absolute;
    top: 60%;
    right: -25%;

    width: 70vh;
  }
}

@media screen and (width > 1600px) {
  .info {
    font-size: 70px;
    letter-spacing: -2px;
  }
}

@media screen and (width > 1920px) {
  .info {
    height: 40vh;
  }
}
