.container {
  position: relative;
}

.raindropWrapper {
  position: absolute;
  bottom: 10%;
  right: -55%;
  z-index: 1;

  width: 100%;
  max-width: 1300px;
  aspect-ratio: 1/1;
}

.raindropWrapper img {
  width: 100%;
  height: 100%;
}

.content {
  --gap-service-content: 24px;
  --fs-service-title: 25px;
  --fs-service-question: 16px;
  --fs-service-answer: 16px;
  --clr-service-answer: rgba(255, 255, 255, 0.6);

  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  row-gap: var(--gap-service-content);
}

.title,
.question {
  font-weight: var(--fw-bold);

  background: var(--clr-title-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.question,
.answer {
  width: 95%;

  line-height: 130%;
  letter-spacing: -0.8px;
}

.title {
  width: 85%;

  font-size: var(--fs-service-title);
  letter-spacing: -0.5px;
}

.question {
  display: flex;
  align-items: center;

  font-size: var(--fs-service-question);
}

.question::before {
  content: "";

  margin-right: 16px;
  display: none;
  width: 36px;
  height: 3px;

  border-radius: 4px;
  background: var(--clr-title-gradient);
}

.answer {
  display: flex;
  flex-direction: column;

  color: var(--clr-service-answer);
  font-weight: var(--fw-regular);
  font-size: var(---fs-service-answer);
  row-gap: 20px;
}

@media screen and (min-width: 500px) {
  .raindropWrapper {
    bottom: 10%;
    right: -47%;

    width: 80%;
  }
}
@media screen and (min-width: 744px) {
  .raindropWrapper {
    bottom: -75%;
    right: -47%;
  }

  .content {
    --fs-service-title: 36px;
  }

  .title {
    width: 70%;
  }

  .question::before {
    display: inline-block;
  }

  .answer {
    width: 90%;
  }
}

@media screen and (min-width: 960px) {
  .content {
    --gap-service-content: 40px;
    --fs-service-title: 48px;
    --fs-service-question: 20px;
  }

  .title {
    letter-spacing: -2px;
  }

  .question,
  .answer {
    letter-spacing: -1px;
  }
}

@media screen and (min-width: 1200px) {
  .raindropWrapper {
    right: -40%;

    rotate: 7deg;
  }

  .content {
    --fs-service-title: 70px;
    --fs-service-question: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .answer {
    width: 80%;
  }
}

@media screen and (min-width: 1920px) {
  .raindropWrapper {
    bottom: -100%;
    right: -36%;
  }
}
