.chipsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
  margin-block: 24px;
}

.chipsContainer div {
  color: var(--clr-secondary-text);
  font-size: 12.5px;
  padding: 8px;
}

.officeBenefitsWrapper {
  margin-top: 80px;
}

@media screen and (min-width: 744px) {
  .chipsContainer div {
    font-size: 18px;
    padding: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .chipsContainer div {
    font-size: 25px;
    padding: 12px 25px;
  }

  .chipsContainer {
    margin-block: 30px;
  }
}
