.card {
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 16px 0 0 16px;
}

.card::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  display: block;
  height: 40px;
  border: 1px solid var(--clr-main-text);
  border-bottom: none;

  content: "";
}

.cardId {
  margin-bottom: 35px;
  margin-bottom: 20px;

  color: var(--clr-secondary-text);
  font-weight: var(--fw-regular);
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.cardTitle {
  margin-bottom: 20px;

  color: var(--clr-main-text);
  font-weight: var(--fw-semibold);
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -1.6px;
}

.cardInfo {
  color: var(--clr-secondary-text);
  font-weight: var(--fw-regular);
  font-size: 14px;
  line-height: 130%;
  letter-spacing: -0.7px;
  white-space: break-spaces;
}

@media screen and (min-width: 1440px) {
  .cardId {
    margin-bottom: 35px;

    font-size: 27px;
    letter-spacing: 1.35px;
  }

  .cardTitle {
    margin-bottom: 25px;

    font-size: 50px;
    letter-spacing: -2.5px;
  }

  .cardInfo {
    font-size: 24px;
    letter-spacing: -1.2px;
  }
}
