.textarea {
  box-sizing: border-box;
  width: 100%;
  width: 100%;
  padding: 49px 0px 12px 0px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);

  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-family: arial;

  background-color: transparent;

  resize: none;
}

.textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.8px;
  text-align: left;

  transform: translateY(100%);

  transition: 0.5s;
}

.textarea::-webkit-scrollbar {
  width: 3px;
}

.textarea::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.6);
}

.textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;

  background: #555;
}

.textarea::-webkit-scrollbar-thumb:hover {
  background-color: #cc0b0b;
}

.textarea:focus {
  outline: none;
}

.textarea:focus.textarea::placeholder {
  opacity: 0;
}

@media screen and (min-width: 960px) {
  .textarea {
    padding: 42px 0px 16px 0px;

    font-size: 18px;
  }
}
