.keyword {
  border-radius: 40px;
  border: 0.8px solid var(--clr-secondary-bg);
  padding: 9.6px 20px;
  font-size: 12.8px;
  letter-spacing: -0.4px;
  line-height: 90%;
  font-weight: var(--fw-regular);
  color: var(--clr-main-text);
}
