.container {
  width: 100%;
  margin-inline: auto;

  min-height: 524px;
}

.pannels {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-dynamic-pannel);
}

.item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 8px;
  border-radius: var(--radius-300);

  background: var(--clr-contact-card-bg);
}

.item img {
  width: 50%;
  aspect-ratio: 1/1;

  height: fit-content;
  object-fit: contain;
}

.django img {
  width: 80%;
  aspect-ratio: 16/9;
}

.name {
  color: var(--clr-secondary-text);
  font-weight: var(--fw-regular);
  font-size: 16px;
  text-transform: capitalize;
}

@media screen and (min-width: 960px) {
  .pannels {
    grid-template-columns: repeat(3, 1fr);
  }

  .item {
    padding-bottom: 20px;
  }

  .name {
    font-size: 20px;
  }
}
