.container {
  margin-inline: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: var(--fs-navlink);
  font-weight: var(--fw-regular);
  letter-spacing: -0.9px;
  background-color: transparent;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;

  min-height: var(--header-height);
}
.nav {
  position: absolute;
  top: 0;
  left: 5%;
  height: 0;

  display: flex;
  flex-direction: column;

  opacity: 1;
  pointer-events: none;
  overflow: hidden;
}

.open {
  position: absolute;
  top: var(--header-height);
  left: 0;
  bottom: 0;
  right: 0;

  height: calc(100vh - var(--header-height));
  z-index: 4;

  pointer-events: all;

  display: flex;
  flex-direction: column;
  gap: var(--gap-header);

  padding-top: var(--gap-header);
  padding-left: 5%;

  background-color: var(--clr-main-bg);
}

.burgerOpen {
  background-color: var(--clr-main-bg);
}

@media screen and (min-width: 744px) {
  .nav {
    display: flex;
    flex-direction: row;
    gap: var(--gap-header);
    position: static;
    width: fit-content;
    height: fit-content;
    pointer-events: all;
    opacity: 1;
    overflow: visible;
    padding-inline: 4px;
  }
  .nav a {
    transition: all ease-in-out 0.4s;
  }
}
