.card {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-right: 30px;
  flex-shrink: 0;
  width: 90%;
  height: 100%;
  aspect-ratio: 1/1.25;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: #000;
  box-sizing: border-box;
  left: 100%;
  transition: left 0.5s;
  overflow: hidden;
}

.card:nth-child(1) {
  z-index: 2;
}

.card:nth-child(2) {
  z-index: 3;
}

.card:nth-child(3) {
  z-index: 4;
}

.card:nth-child(4) {
  z-index: 5;
}

.card:nth-child(5) {
  z-index: 6;
}

.card:nth-child(6) {
  z-index: 7;
}

.next {
  left: 80%;
}

.card.nextFirst:nth-child(1) {
  left: 80%;
  z-index: 9;
}

.card.nextFirst:nth-child(6) {
  z-index: 8;
}

.card.active {
  left: 0;
}

.imageWrapper {
  height: auto;
  flex: 1;
}

.cardBg {
  position: absolute;
  inset: 0;
  background: url("../../../../../public/images/internship/work_benefit_card_bg.png")
    no-repeat;
  background-size: cover;
  background-position: 75% 0;
  filter: blur(9.5px);
  z-index: 1;
  -webkit-filter: blur(9.5px);
}

.glow {
  position: absolute;
  bottom: -50%;
  left: -50%;
  width: 370px;
  height: 370px;
  border-radius: 369.5px;
  background: rgba(124, 254, 253, 0.4);
  filter: blur(175px);
}

.card:nth-child(even) > .glow {
  background: rgba(204, 11, 11, 0.5);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 2;
  margin-top: auto;
  padding-right: 20px;
}

.title {
  color: var(--clr-main-text);
  font-size: 18px;
  font-weight: var(--fw-bold);
  line-height: 100%;
  letter-spacing: -0.9px;
}

.text {
  color: var(--clr-secondary-text);
  font-size: 14px;
  font-weight: var(--fw-regular);
  line-height: 130%;
  letter-spacing: -0.7px;
}

@media screen and (min-width: 744px) {
  .card {
    position: relative;
    left: initial;
    width: 100%;
    aspect-ratio: unset;
  }

  .content {
    padding: unset;
    margin-top: auto;
  }

  .card:nth-child(1) > .content,
  .card:nth-child(4) > .content,
  .card:nth-child(5) > .content {
    max-width: 75%;
  }

  .glow {
    bottom: -20%;
    left: -10%;
    width: 185px;
    height: 185px;
    filter: blur(87px);
  }

  .card:nth-child(even) > .glow {
    width: 245px;
    height: 245px;
    filter: blur(115px);
    right: -10%;
    bottom: -20%;
    left: unset;
    z-index: 2;
  }
}

@media screen and (min-width: 1200px) {
  .card:nth-child(1) > .content,
  .card:nth-child(4) > .content,
  .card:nth-child(5) > .content {
    max-width: 55%;
  }

  .card {
    border-radius: 12px;
    padding: 32px;
  }

  .content {
    gap: 24px;
  }

  .text {
    font-size: 20px;
  }

  .title {
    font-size: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .card:nth-child(1) > .content {
    max-width: 55%;
  }

  .card:nth-child(4) > .content,
  .card:nth-child(5) > .content {
    max-width: 100%;
  }
}

@media screen and (min-width: 1600px) {
  .card:nth-child(1) > .glow,
  .card:nth-child(3) > .glow {
    bottom: -40%;
    left: -10%;
    width: 370px;
    height: 370px;
    filter: blur(175px);
  }

  .card:nth-child(2) > .glow,
  .card:nth-child(6) > .glow {
    width: 490px;
    height: 490px;
    right: -40%;
    bottom: -75%;
    background: rgba(204, 11, 11, 0.5);
    filter: blur(230px);
  }

  .card:nth-child(4) > .glow,
  .card:nth-child(5) > .glow {
    display: none;
  }
}
