.text {
  /* Local variables */
  --fs-hero-title: 30px;
  --fs-hero-description: 14px;
  --gap-hero-text: 20px;

  display: flex;
  flex-direction: column;
  row-gap: var(--gap-hero-text);
  width: 90%;
  word-break: break-word;
}

/* .suptitle {} */

.title {
  background: var(--clr-title-gradient);
  background-clip: text;
  font-size: var(--fs-hero-title);
  line-height: 90%;
  letter-spacing: -1.302px;
  font-weight: var(--fw-bold);
}

.subtitle {
  width: 90%;
  font-size: var(--fs-hero-description);
  line-height: 130%;
  letter-spacing: -0.7px;
  font-weight: var(--fw-light);
  color: var(--clr-secondary-text);
}

.title::first-letter,
.subtitle::first-letter {
  text-transform: uppercase;
}

@media screen and (width >=744px) {
  .text {
    --fs-hero-title: 70px;
    --fs-hero-description: 20px;
    --gap-hero-text: 32px;
  }

  .title {
    letter-spacing: -2px;
  }

  .subtitle {
    letter-spacing: -1px;
  }
}

@media screen and (width >=1440px) {
  .text {
    --fs-hero-title: 70px;
  }
}

@media screen and (width >=1920px) {
  .text {
    --fs-hero-title: 100px;
    --gap-hero-text: 51px;
  }

  .title {
    line-height: 103.5%;
  }
}
