.bg {
  position: fixed;
  z-index: 5;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 15px;

  background-color: rgba(0, 0, 0, 0.873);
  backdrop-filter: blur(5px);
  inset: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  min-width: 250px;
  padding: 15px;
  border: 1px solid black;
  border: 1px solid white;
  border-radius: 8px;

  background-color: rgb(121, 118, 76);
}

.close {
  display: flex;
  align-items: center;
  align-self: flex-end;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

@media screen and (max-width: 1440px) {
  .bg {
    align-items: center;
  }
}
