.container {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: auto;
  background-color: var(--clr-main-bg);
}

@media screen and (width>=1200px) {
  .container {
    max-width: 1199px;
  }
}
