.container {
  width: 98%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: var(--gap-widget);
  overflow: hidden;
  margin-left: 2%;
  padding-inline: 5px;
}

.tabs {
  width: 100%;
  padding: 8px;
  font-weight: var(--fw-light);
  font-size: var(--fs-tab);
  background-color: var(--clr-main-bg);
  color: var(--clr-secondary-text);
  border-radius: var(--radius-300);
  border: 1px solid rgba(255, 255, 255, 0.15);
  overflow-x: auto;
  width: fit-content;
}

.tabsInner {
  display: flex;
  overflow-x: auto;
  margin-inline: 5px;
  width: fit-content;
  gap: 20px;
}

.tabs::-webkit-scrollbar,
.tabsInner::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 960px) {
  .container {
    justify-content: center;
  }
  .tabsInner {
    width: auto;
  }
  .tabs {
    gap: 10px;
    padding: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    margin-left: 0;
  }

  .tabs {
    width: 80%;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    margin-inline: auto;
    max-width: 1920px;
  }
}
