.container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 40px;
  margin-left: 2%;
  overflow: hidden;
  padding-inline: 5px;

  margin-inline: auto;
}

.tabs {
  width: fit-content;
  margin-left: 5%;
  padding: 8px;
  border: 1px solid rgb(255 255 255 / 15%);
  border-radius: var(--radius-300);
  overflow-x: auto;

  color: var(--clr-secondary-text);
  font-weight: var(--fw-light);
  font-size: var(--fs-tab);

  background-color: var(--clr-main-bg);
}

.tabsInner {
  display: flex;
  gap: 20px;
  width: fit-content;
  overflow-x: auto;
  margin-inline: 5px;
}

.tabs::-webkit-scrollbar,
.tabsInner::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 960px) {
  .container {
    justify-content: center;
  }

  .tabsInner {
    width: auto;
  }

  .tabs {
    gap: 10px;
    padding: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 90%;
    margin-bottom: 46px;
    margin-left: 0;
    margin-inline: auto;
  }

  .tabs {
    width: 92%;
    margin-left: 0;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    margin-inline: auto;

    max-width: 1920px;
  }
}
