.link {
  width: fit-content;

  color: var(--clr-main-text);
  font-weight: var(--fw-regular);
  font-size: var(--fs-navlink);
  letter-spacing: -0.9px;

  cursor: pointer;
}

.active {
  color: var(--clr-secondary-text);
}

@media (hover: hover) {
  .link:hover {
    transform: scale(1.05);
  }
}
