.container {
  display: flex;
  width: fit-content;

  column-gap: 4px;
  margin-inline: auto;
}

.indicator {
  width: 4px;
  height: 4px;

  border-radius: 50%;

  background-color: white;
  opacity: 0.3;
}

.active {
  opacity: 1;
}

@media screen and (min-width: 744px) {
  .container {
    display: none;
  }
}
