.container {
  width: 90%;
  max-width: 987px;
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -2px;

  background: linear-gradient(135deg, #fff 30%, rgba(255, 255, 255, 0.38) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.item {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.8px;
}

.divider {
  height: 2px;
  width: 100%;
  opacity: 0.2;
  background: #fff;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 25px;
  list-style-position: outside;
  list-style-type: disc;
}

.list li {
  display: list-item;
}

@media screen and (min-width: 960px) {
  .container {
    gap: 36px;
  }

  .title {
    font-size: 36px;
  }

  .item {
    font-size: 20px;
    letter-spacing: -1px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    gap: 48px;
  }

  .title {
    font-size: 70px;
  }

  .item {
    font-size: 25px;
    letter-spacing: -1.25px;
  }
}
