.hero {
  position: relative;
  z-index: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: auto;
  min-height: max-content;
  overflow: hidden;
  margin-inline: auto;
  padding-block: var(--header-height);
}

.hero::before {
  position: absolute;
  inset: 0;

  width: 100vw;
  height: auto;

  background: linear-gradient(360deg, #000 16.22%, rgb(0 0 0 / 0%) 74.01%);

  content: "";
}

.content {
  --gap-content: 26px;

  position: relative;

  display: flex;
  flex-direction: column;
  row-gap: var(--gap-content);
  justify-content: center;
}

.imgWrapper {
  max-width: 90%;
  height: auto;

  opacity: 0.7;
  filter: blur(1px);
  mix-blend-mode: lighten;
  margin-block-start: 26.5px;
  margin-inline: auto;
}

.imgWrapper img {
  width: 100%;
  height: 100%;
}

.text {
  --fs-hero-title: 40px;
  --fs-hero-description: 14px;
  --gap-hero-text: 20px;

  display: flex;
  flex-direction: column;
  row-gap: var(--gap-hero-text);

  word-break: break-word;
}

.title {
  width: fit-content;

  font-weight: var(--fw-bold);
  font-size: var(--fs-hero-title);
  line-height: 90%;
  letter-spacing: -1.302px;

  background: var(--clr-title-gradient);
  background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  width: 95%;

  color: var(--clr-secondary-text);
  font-weight: var(--fw-light);
  font-size: var(--fs-hero-description);
  line-height: 130%;
  letter-spacing: -0.7px;
}

.title::first-letter,
.subtitle::first-letter {
  text-transform: uppercase;
}

.keywords {
  --gap-col-keywords: 4.8px;
  --gap-row-keywords: 11.6px;

  display: flex;
  flex-wrap: wrap;
  width: 100%;

  column-gap: var(--gap-col-keywords);
  row-gap: var(--gap-row-keywords);
}

@media screen and (width >=744px) {
  .content {
    --gap-content: 32px;

    padding-top: 100px;
  }

  .text {
    --fs-hero-title: 55px;
    --fs-hero-description: 20px;
    --gap-hero-text: 32px;
  }

  .title {
    letter-spacing: -2px;
  }

  .subtitle {
    width: 85%;

    letter-spacing: -1px;
  }

  .imgWrapper {
    max-width: 70%;
  }

  .keywords {
    width: 90%;
  }
}

@media screen and (width >=1200px) {
  .hero {
    padding-block: 0;

    height: 100dvh;
  }

  .content {
    --gap-content: 32px;
  }

  .imgWrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    width: 70vh;

    opacity: 0.3;
  }

  .title {
    width: 60%;
  }

  .subtitle {
    width: 50%;
  }

  .keywords {
    width: 40%;
  }
}

@media screen and (width >=1440px) {
  .content {
    --gap-content: 32px;
  }

  .keywords {
    --gap-col-keywords: 6px;
    --gap-row-keywords: 16px;
  }
}

@media screen and (width >=1920px) {
  .content {
    --gap-content: 40px;
  }

  .imgWrapper {
    top: 0;
    z-index: 1;

    width: 60vh;

    opacity: 0.7;
  }

  .text {
    --fs-hero-title: 100px;
    --gap-hero-text: 51px;
  }

  .title {
    width: 70%;

    line-height: 103.5%;
  }

  .keywords {
    --gap-row-keywords: 21px;

    width: 40%;
  }
}
