.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  width: 90%;
  min-height: 900px;
  height: auto;
  padding-block: var(--header-height);
  background-color: transparent;
}

.content {
  --gap-content: 26px;

  display: flex;
  flex-direction: column;
  row-gap: var(--gap-content);
}

.imgWrapper {
  margin-block-start: 26.5px;
  max-width: 70vw;
  height: auto;
  opacity: 0.7;
}

.imgWrapper img {
  width: 100%;
  height: 100%;
}

.keywords {
  --gap-col-keywords: 4.8px;
  --gap-row-keywords: 11.6px;

  display: flex;
  flex-wrap: wrap;
  column-gap: var(--gap-col-keywords);
  row-gap: var(--gap-row-keywords);
  width: 80%;
}

@media screen and (width >=744px) {
  .hero {
    justify-content: center;
  }

  .content {
    --gap-content: 32px;

    width: 60%;
  }

  .imgWrapper {
    position: absolute;
    top: 20%;
    right: 0;
    z-index: -1;
    margin: 0;
    width: 50vw;
  }
}

@media screen and (width >=1440px) {
  .content {
    --gap-content: 32px;

    width: 60%;
  }

  .imgWrapper {
    top: 10%;
    aspect-ratio: 1/1;
  }

  .keywords {
    --gap-col-keywords: 6px;
    --gap-row-keywords: 16px;
  }
}

@media screen and (width >=1920px) {
  .content {
    --gap-content: 40px;

    width: 65%;
  }

  .keywords {
    --gap-row-keywords: 21px;
  }
}
