.container {
  --gap-vacancies-cards: 8px;

  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  gap: var(--gap-vacancies-cards);
  width: 100%;
}

@media screen and (min-width: 744px) {
  .container {
    --gap-vacancies-cards: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    grid-template: 1fr / repeat(3, 1fr);
    --gap-vacancies-cards: 40px;
  }
}
