.container {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  gap: var(--gap-contacts);
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .container {
    grid-template: 1fr / repeat(3, 1fr);
  }
}
