.container {
  --gap-vacancies-cards: 16px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-vacancies-cards);
  width: 100%;
}

@media screen and (min-width: 744px) {
  .container {
    --gap-vacancies-cards: 28px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }

  .gridCol2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1440px) {
}

@media screen and (min-width: 1920px) {
  .container {
    --gap-vacancies-cards: 40px;
  }
}
