.container {
  display: flex;
  flex-direction: column;

  gap: 40px;
  width: 60%;
}

.imgWrapper {
}

.text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.text mark {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  font-size: 15px;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 12px;
  text-align: left;
  text-transform: uppercase;

  background-color: transparent;
}

.text p:nth-child(2) {
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: 90%;
  letter-spacing: -2px;
  text-align: left;

  background: var(
    --gradient-title,
    linear-gradient(135deg, #fff 30%, rgba(255, 255, 255, 0.38) 100%)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text p:nth-child(3) {
  color: var(--white-60, rgba(255, 255, 255, 0.6));
  font-weight: 400;

  font-size: 20px;
  font-style: normal;
  line-height: 130%;
  letter-spacing: -1px;
}
