.section {
  --gap-company-numbers-section: 28px;
  --gap-company-number-container: 12px;
  --width-divider: 1px;
  --margin-divider: 12px;

  display: flex;
  flex-direction: column;
  row-gap: var(--gap-company-numbers-section);

  position: relative;
}

.section > img {
  z-index: 1;
}

.glow {
  position: absolute;
  top: 15%;
  left: 0;

  z-index: 2;

  width: 100%;
  height: 100%;

  border-radius: 100%;

  background: rgba(41, 90, 89, 0.43);

  filter: blur(80px);
}

.container {
  position: relative;
  z-index: 3;

  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: var(--gap-company-number-container);

  max-width: 425px;
}

.divider {
  margin-inline: var(--margin-divider);

  width: var(--width-divider);

  background-color: rgba(255, 255, 255, 0.3);
}

.container > p:nth-of-type(8),
.divider:nth-of-type(8) {
  display: none;
}

.divider:nth-of-type(3),
.divider:nth-of-type(6),
.divider:nth-of-type(10) {
  display: none;
}

@media screen and (min-width: 744px) {
  .section {
    --gap-company-numbers-section: 48px;
    --gap-company-number-container: 40px;
    --width-divider: 1.25px;
    --margin-divider: 40px;
  }

  .container > p:nth-of-type(8) {
    display: flex;
  }

  .divider:nth-of-type(8) {
    display: initial;
  }

  .divider:nth-of-type(3),
  .divider:nth-of-type(6),
  .divider:nth-of-type(10) {
    display: initial;
  }

  .divider:nth-of-type(3n) {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    --gap-company-numbers-section: 64px;
    --gap-company-number-container: 64px;
    --width-divider: 2px;
    --margin-divider: 64px;
  }
}
