.container {
  margin-inline: auto;
}

.wrapper {
  height: 60vh;
  max-height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  border-radius: var(--radius-300);
  position: relative;
}

.wrapper img {
  border-radius: var(--radius-300);
  position: absolute;
  object-fit: cover;
}

.text {
  color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: var(--gap-pannel-text);
  width: 90%;
}

.title {
  font-size: var(--fs-panel-title);
  font-weight: var(--fw-bold);
  color: var(--clr-main-text);
}

.description {
  /* text-shadow: #000 0.5px 1px; */
  font-size: calc(var(--fs-panel-subtitle) + 4px);
  color: var(--clr-secondary-text);
}

@media screen and (width >= 1200px) {
  .wrapper {
    border: none;
    max-height: 650px;
  }

  .text {
    width: 40%;
  }
}
