.container {
  margin-inline: auto;
}

.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 60vh;
  max-height: 320px;
  padding: 16px;
  border-radius: var(--radius-300);
}

.wrapper img {
  position: absolute;

  border-radius: var(--radius-300);
  object-fit: cover;
}

.text {
  position: absolute;

  display: flex;
  flex-direction: column;
  gap: var(--gap-pannel-text);
  width: 90%;

  color: white;
}

.title {
  color: var(--clr-main-text);
  font-weight: var(--fw-bold);
  font-size: var(--fs-panel-title);
}

.description {
  color: var(--clr-secondary-text);
  font-size: calc(var(--fs-panel-subtitle) + 4px);
}

@media screen and (min-width: 1200px) {
  .wrapper {
    max-height: 650px;
    border: none;
  }

  .text {
    width: 40%;
  }
}
