.container {
  --icon-width: 24px;

  border: none;

  color: var(--clr-main-text);

  background-color: transparent;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 2px;

  background-color: rgb(255 255 255 / 12%);
  margin-block: 24px;
}

.text {
  display: flex;
  align-items: center;
  justify-content: space-between;

  column-gap: 15px;
}

.summary {
  font-weight: var(--fw-bold);
  font-size: var(--fs-questions-title);
  line-height: 100%;
  letter-spacing: -1.6px;
  text-align: left;
}

.icon {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--icon-width);
  min-width: var(--icon-width);
  height: var(--icon-width);
  border: 1px solid currentcolor;
  border-radius: 50%;

  color: inherit;
}

.icon span:first-child {
  position: absolute;

  display: block;
  width: 30%;
  height: 1px;

  background-color: var(--clr-main-text);
}

.icon span:last-child {
  position: absolute;

  display: block;
  width: 30%;
  height: 1px;

  background-color: var(--clr-main-text);

  transition: 0.4s linear;
  rotate: 90deg;
}

.description {
  display: grid;
  grid-template-rows: 0fr;
  width: 90%;
  padding-top: 15px;

  color: var(--clr-secondary-text);
  font-weight: var(--fw-light);
  font-size: var(--fs-questions-description);
  line-height: 120%;
  letter-spacing: -0.6px;

  transition: all 0.5s;
}

.description > p {
  overflow: hidden;

  text-align: initial;
}

.open .icon span:last-child {
  rotate: 0deg;
}

.open .description {
  grid-template-rows: 1fr;
}

@media screen and (min-width: 744px) {
  .line {
    margin-block: 32px;
  }
}

@media screen and (min-width: 1000px) {
  .description {
    letter-spacing: -0.9px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    --icon-width: 38px;
  }

  .line {
    margin-block: 50px;
  }

  .description {
    width: 60%;
  }
}
