.description {
  position: relative;
  z-index: 1;
  z-index: 2;

  width: 94%;
  margin-inline: auto;
}

.wrapperUpper,
.wrapperLower {
  position: absolute;
  z-index: -2;

  width: 50vh;
  aspect-ratio: 1/1;
}

.wrapperUpper img,
.wrapperLower img {
  width: 100%;
  height: 100%;
}

.wrapperUpper {
  top: 0;
  left: 0;

  transform: translate(-50%, -50%) rotate(45deg);
}

.wrapperLower {
  right: 0;
  bottom: 0;

  transform: translate(50%, -100%) rotate(-45deg);
}

.middle {
  position: relative;
}

.middle:before,
.middle:after,
.description:before,
.description:after {
  position: absolute;
  z-index: -2;

  width: 40vh;
  border-radius: 50%;

  filter: blur(150px);

  content: "";
  aspect-ratio: 1/1;
}

.middle:before {
  top: 0;
  left: 0;

  background: rgba(204, 11, 11, 0.5);
  transform: translate(-50%, -100%);
}

.middle:after {
  right: 0;
  bottom: 0;

  background: rgba(124, 254, 253, 0.4);
  transform: translate(50%, 100%);
}

.description:before {
  top: 0;
  left: 0;

  background: rgba(124, 254, 253, 0.4);
  transform: translate(-50%, -50%);
}

.description:after {
  right: 0;
  bottom: 0;

  background: rgba(204, 11, 11, 0.5);
  transform: translate(50%, 50%);
}

.devider {
  width: 100%;
  height: 2px;

  background-color: #fff;
  opacity: 0.2;
  margin-block: 48px;
}
.description p {
  color: rgba(255, 255, 255, 0.6);

  font-weight: 400;

  font-size: 16px;
  line-height: 130%;
  letter-spacing: -1.25px;

  margin-block: 20px;
}

.description h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.64px;

  background: var(
    --Linear,
    linear-gradient(135deg, #fff 30%, rgba(255, 255, 255, 0.38) 100%)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.description ul {
  /* margin-block: 48px; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 8px;

  list-style-position: outside;
  list-style-type: disc;
  margin-block: 24px;
}
.description ul li {
  display: list-item;

  color: #fff;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 130%;
  letter-spacing: -1.25px;

  list-style: inside;
  opacity: 0.9;
}
@media screen and (min-width: 744px) {
  .middle:before,
  .middle:after,
  .description:before,
  .description:after {
    filter: blur(200px);
  }
  .description p {
    font-size: 20px;
  }
  .description h5 {
    font-size: 28px;
  }

  .description ul {
    gap: 20px;
  }

  .description ul li {
    font-size: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .description {
    width: 70%;
  }

  .wrapperUpper,
  .wrapperLower {
    width: 70vh;
  }

  .wrapperUpper {
    transform: translate(-100%, -50%);
  }

  .wrapperLower {
    transform: translate(100%, -200%);
  }

  .middle:before,
  .middle:after,
  .description:before,
  .description:after {
    filter: blur(250px);
  }

  .description p {
    font-size: 25px;
  }
  .description h5 {
    font-size: 32px;
  }
  .description ul {
    gap: 25px;
  }
  .description ul li {
    font-size: 20px;
  }
}
