.container {
  display: flex;
  gap: 40px;
  width: 94%;
  height: 500px;
  margin-top: 300px;
}
.leftSide {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 28px;
  justify-content: flex-end;
}
.middle {
  position: relative;

  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: flex-end;
}
.middle p {
  color: #f5f5f5;
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
  line-height: 30px; /* 125% */
  letter-spacing: -0.48px;

  text-align: center;
}
.wrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  aspect-ratio: 1/1;
}
.wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hiddenImage {
  scale: 0;

  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  transition: 0.3s all ease-in-out linear;
  rotate: 5deg;
}
.showImage {
  opacity: 0;
  filter: blur(10px);

  transition: 0.3s all ease-in-out linear;
  animation: 0.5s show ease-in-out forwards;
  scale: 1;
}
@keyframes show {
  to {
    opacity: 1;
    filter: blur(0px);
    rotate: 0deg;
  }
}

.descriptionContainer {
  position: relative;

  display: flex;
  align-items: flex-end;
  height: 30%;
}
.hiddenDescription {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  scale: 0;

  opacity: 0;
  filter: blur(10px);
}
.showDescription {
  scale: 1;

  animation: 0.5s showP ease-in-out forwards;
}
@keyframes showP {
  to {
    opacity: 1;
    filter: blur(0px);
  }
}

.rightSide {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 28px;
  align-items: end;
  justify-content: flex-end;
}

.title {
  position: relative;

  width: fit-content;

  font-weight: 500;
  font-size: 28px;
  font-style: normal;
  line-height: 33.6px;
  letter-spacing: -0.56px;

  background: var(
    --Linear,
    linear-gradient(135deg, #fff 30%, rgba(255, 255, 255, 0.38) 100%)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title:last-child {
  min-width: min-content;
  max-width: 46%;
}
.rightSide .title {
  text-align: right;
}

.benefit::after {
  position: absolute;
  top: 101%;
  left: 0;

  width: 0;
  height: 1px;

  background: linear-gradient(91deg, #8f3a3a 0%, #db3131 100%);

  animation: 0.3s underline ease-in-out forwards;

  content: "";
}
.plush::after {
  position: absolute;
  top: 101%;
  right: 0;

  width: 0;
  height: 1px;

  background: linear-gradient(135deg, #25715a 30%, #31dbc7 100%);

  animation: 0.3s underline linear forwards;

  content: "";
}
.benefit {
  position: relative;

  width: fit-content;
  width: fit-content;
  border-bottom-color: #8f3a3a;

  background: linear-gradient(91deg, #8f3a3a 0%, #db3131 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.plush {
  position: relative;

  width: fit-content;
  width: fit-content;
  border-bottom-color: #25715a;

  background: linear-gradient(135deg, #25715a 30%, #31dbc7 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes underline {
  to {
    width: 100%;
  }
}

.light {
  position: absolute;

  width: 30vw;

  border-radius: 50%;

  filter: blur(250px);

  transition: all ease-in-out 0.5s;
  aspect-ratio: 1/1;
}
.redLight {
  background: rgba(204, 11, 11, 0.5);
}
.greenLight {
  background: rgba(124, 254, 253, 0.5);
}
.leftSide .light {
  bottom: 0;
  left: -20%;
}
.rightSide .light {
  top: 0;
  right: -20%;
}
.middle .light {
  top: 25%;
  left: 25%;

  width: 25vw;
}
