.text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: var(--gap-section-title);
  position: relative;
  z-index: 1;
}

.suptitle {
  font-size: var(--fs-section-suptitle);
  color: var(--clr-secondary-text);
  font-weight: var(--fw-bold);
  letter-spacing: 6.4px;
  text-transform: uppercase;
  line-height: 100%;
}

.subtitle {
  font-size: var(--fs-section-subtitle);
  color: var(--clr-secondary-text);
  font-weight: var(--fw-light);
  letter-spacing: -0.6px;
  line-height: 130%;
}

.subtitle::first-letter {
  text-transform: uppercase;
}

.title {
  font-size: var(--fs-section-title);
  background: var(--clr-title-gradient);
  font-weight: var(--fw-bold);
  color: var(--clr-main-text);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.77px;
  word-wrap: break-word;
  line-height: 90%;
  padding-block: 8px;
  text-wrap: balance;
}

.title::first-letter {
  text-transform: uppercase;
}
