.card {
  --fs-content-number: 52px;
  --fs-content-text: 10px;
  --clr-content-text: rgba(255, 255, 255, 0.6);
  --width-divider: 1px;
  --margin-divider: 12px;

  box-sizing: border-box;

  display: flex;
  justify-content: flex-start;
  max-width: 33%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.number {
  font-weight: var(--fw-light);
  font-size: var(--fs-content-number);
  line-height: 110%;
  letter-spacing: -1.04px;
  text-align: center;

  background: linear-gradient(
    135deg,
    #fff 0%,
    rgba(255, 255, 255, 0.38) 88.51%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text {
  color: var(--clr-content-text);
  font-weight: var(--fw-light);
  font-size: var(--fs-content-text);
  line-height: 120%;
  letter-spacing: -0.2px;

  text-align: center;
}

.divider {
  margin-inline: var(--margin-divider);
  min-width: var(--width-divider);

  background-color: rgba(255, 255, 255, 0.3);
}

@media screen and (min-width: 744px) {
  .card {
    --fs-content-number: 72px;
    --fs-content-text: 12px;
    --width-divider: 1.25px;
    --margin-divider: 24px;
  }
}

@media screen and (min-width: 960px) {
  .card {
    --fs-content-number: 100px;
    --fs-content-text: 14px;
    --width-divider: 1.25px;
    --margin-divider: 40px;

    max-width: 26%;
  }

  .number {
    letter-spacing: -2px;
  }

  .text {
    letter-spacing: -0.28px;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    --fs-content-number: 80px;
    --fs-content-text: 14px;
    --width-divider: 2px;
    --margin-divider: 40px;

    max-width: 20%;
  }

  .number {
    letter-spacing: -3.2px;
  }

  .text {
    letter-spacing: -0.42px;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    --fs-content-number: 120px;
    --fs-content-text: 16px;
    --width-divider: 2px;
    --margin-divider: 42px;
  }

  .text {
    width: 80%;
  }
}

@media screen and (min-width: 1920px) {
  .card {
    --fs-content-number: 160px;
    --fs-content-text: 21px;
    --margin-divider: 64px;
  }
}
