.challengeWrapper {
  display: flex;
}

.paragraphs {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 100%;
}

.paragraph {
  font-size: 16px;
  font-weight: var(--fw-light);
  line-height: 130%;
  letter-spacing: -0.8px;
  color: var(--clr-secondary-text);
}

@media (min-width: 744px) {
  .paragraph {
    font-size: 25px;
    letter-spacing: -1.25px;
  }
}

@media (min-width: 1200px) {
  .challengeWrapper {
    justify-content: flex-end;
  }

  .paragraphs {
    max-width: 70%;
    text-align: end;
  }
}

@media (min-width: 1920px) {
  .paragraphs {
    max-width: 55%;
  }
}
