.container {
  margin: 0 auto;
}

.barContainer {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.slidesContainer {
  height: 400px;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
}

.slides {
  transition: ease 1000ms;
}
