.container {
  position: relative;

  width: 94%;
  height: auto;
}

.container:before,
.container:after {
  position: absolute;

  border-radius: 50%;

  filter: blur(150px);

  content: "";
  aspect-ratio: 1/1;
}

.container:before {
  top: 0;
  left: 0;

  width: 80vh;
  max-width: 330px;

  background-color: rgb(204 11 11 / 70%);
  transform: translate(-50%, -50%) translate3d(0, 0, 0);
}

.container:after {
  right: 0;
  bottom: 0;

  width: 80vh;
  max-width: 263px;

  background: rgb(124 254 253 / 60%);
  transform: translate(50%, 50%) translate3d(0, 0, 0);
}

.sticker {
  position: relative;

  z-index: 5;

  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  height: auto;

  overflow: hidden;
}
.title {
  position: relative;
  z-index: 1;
  /* height: 100%; */

  display: flex;
  align-items: center;

  font-weight: 700;

  font-size: 24px;
  font-style: normal;
  line-height: 90%;
  letter-spacing: -0.771px;

  padding-block: 8px;
}
.cardContainer {
  z-index: 5;

  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
}

.devider {
  display: none;
}

.imgWrapper,
.imgRaindropWrapper {
  position: absolute;
  aspect-ratio: 1/1;
}

.imgWrapper {
  right: 1%;
  z-index: 2;

  width: 90%;
  height: 100%;

  opacity: 0.8;
}

.imgRaindropWrapper:nth-child(1) {
  top: 0;
  left: 0;
  z-index: -1;

  width: 80vh;
  max-width: 406px;

  transform: translate(-50%, -50%) rotate(86.083deg);

  transform:;
}

.imgRaindropWrapper:nth-child(2) {
  right: 0;
  bottom: 0;
  z-index: 4;

  width: 80vh;
  max-width: 360px;

  transform: translate(40%, 0) rotate(-65deg);
  aspect-ratio: 1.2/1;
}

.imgWrapper img,
.imgRaindropWrapper img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 744px) {
  .container:before {
    max-width: 415px;

    transform: translate(-50%, -50%);
  }

  .container:after {
    max-width: 263px;

    transform: translate(50%, 50%);
  }

  .imgRaindropWrapper:nth-child(1) {
    max-width: 511px;
  }

  .imgRaindropWrapper:nth-child(2) {
    max-width: 630px;
  }

  .title {
    font-size: 50px;
  }
  .cardContainer {
    gap: 80px;
  }

  .sticker {
    gap: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .container:before {
    max-width: 921px;

    transform: translate(-50%, -50%);
    filter: blur(350px);
  }

  .container:after {
    max-width: 581px;

    transform: translate(50%, 50%);
    filter: blur(350px);
  }

  .imgRaindropWrapper:nth-child(1) {
    max-width: 1137px;
  }

  .imgRaindropWrapper:nth-child(2) {
    max-width: 1389px;
  }

  .container {
    height: 190vh;
  }
  .imgWrapper {
    width: 60%;
  }

  .sticker {
    position: sticky;
    top: 0;

    flex-direction: row;
    gap: 90px;
    justify-content: space-around;
    height: 100vh;

    mask: linear-gradient(
      180deg,
      transparent 5%,
      rgb(0, 0, 0) 12%,
      rgb(0, 0, 0) 91%,
      transparent 95%
    );
  }
  .devider {
    display: block;
    width: 1px;
    height: 90%;

    margin-top: 5%;

    background-color: #ffffff2b;
  }
  .title {
    display: flex;
    align-items: center;

    height: 100vh;

    font-size: 70px;
    letter-spacing: -2px;

    box-shadow: unset;
  }
  .cardContainer {
    gap: 200px;
    align-items: center;
  }
}
@media screen and (max-height: 650px) {
  .cardContainer {
    gap: 80px;
  }
  .title {
    font-size: 54px;
  }
}
