.ring {
  position: relative;

  width: 15px;
  height: 15px;
}

.ring div {
  position: absolute;

  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-color: white transparent transparent transparent;
  border-radius: 50%;

  animation: ldsRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes ldsRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
