.container {
  --container-padding: 16px;
  --gap-vacancy-card-text: 32px;
  --clr-vacancy-card-bg: #101010;
  --fs-vacancy-card-title: 18px;
  --fs-vacancy-card-description: 12px;
  --radius-card: 12px;

  position: relative;

  padding: var(--container-padding);
  border: 1px solid rgb(255 255 255 / 15%);
  border-radius: var(--radius-card);

  background: var(--clr-vacancy-card-bg);
  cursor: pointer;

  transition: all ease-in-out 0.3s;
}

.text {
  position: relative;
  z-index: 0;

  display: flex;
  flex-direction: column;
  gap: var(--gap-vacancy-card-text);
  justify-content: space-between;
  height: 100%;
}

.title {
  width: 60%;

  color: var(--clr-main-text);
  font-weight: var(--fw-bold);
  font-size: var(--fs-vacancy-card-title);

  background: linear-gradient(135deg, #fff 30%, rgba(255, 255, 255, 0.38) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  color: var(--clr-secondary-text);
  font-weight: var(--fw-regular);
  font-size: var(--fs-vacancy-card-description);
}

.arrow {
  position: absolute;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  border-radius: 50%;

  color: var(--clr-main-text);

  background-color: #cc0b0b;

  opacity: 0;

  transition: ease 500ms;
  aspect-ratio: 1/1;
}

.arrow img {
  width: 30%;
  object-fit: contain;
}

@media (hover: hover) {
  .container:hover::before {
    position: absolute;

    padding: 1px;
    border-radius: var(--radius-card);

    background: var(--clr-border-gradient);

    transition: all 3s ease-in-out;

    content: "";
    inset: 0;
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: xor;
    mask-composite: exclude;
  }

  .container:hover .arrow {
    opacity: 1;
  }
}

@media screen and (min-width: 744px) {
  .container {
    --container-padding: 32px;
    --gap-vacancy-card-text: 130px;
    --fs-vacancy-card-title: 32px;
    --fs-vacancy-card-description: 18px;
    --radius-card: 24px;

    border-radius: var(--radius-card);
  }

  .title {
    width: 70%;
  }
}

@media screen and (min-width: 960px) {
  .container {
    --gap-vacancy-card-text: 196px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    --fs-vacancy-card-title: 32px;
    --fs-vacancy-card-description: 24px;
  }

  .arrow {
    width: 85px;
  }
}

@media screen and (min-width: 1440px) {
}

@media screen and (min-width: 1920px) {
  .container {
    --gap-vacancy-card-text: 151px;
    --container-padding: 48px;
  }

  .arrow {
    width: 100px;
  }
}
