.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: #101010;
  padding: 16px;
  transition: all 0.9s;
  z-index: 1;
}

.card:nth-child(odd):hover {
  border: 1.5px solid rgba(255, 255, 255, 0.12);
  background: linear-gradient(
    135deg,
    #4a0000 0%,
    rgba(38, 38, 38, 0.25) 70%,
    rgba(38, 38, 38, 0.25) 100%
  );
}

.card:nth-child(even):hover {
  border: 1.5px solid rgba(255, 255, 255, 0.12);
  background: radial-gradient(
    70.71% 70.71% at 50% 50%,
    #4a0000 0%,
    rgba(38, 38, 38, 0.25) 100%
  );
}

.title {
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.36px;
  background: linear-gradient(135deg, #fff 30%, rgba(255, 255, 255, 0.38) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.24px;
  width: 95%;
}

@media screen and (min-width: 960px) {
  .card {
    min-height: 240px;
    padding: 24px;
    gap: 18px;
    border-radius: 18px;
  }

  .title {
    font-size: 32px;
  }

  .description {
    font-size: 20px;
    max-width: 342px;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    min-height: 280px;
    padding: 30px;
    border-radius: 20px;
  }

  .title {
    font-size: 32px;
  }

  .description {
    font-size: 20px;
    max-width: 342px;
  }
}
