.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media (width >= 744px) {
  .content {
    gap: 50px;
  }
}

@media (width >= 1200px) {
  .content {
    flex-direction: row;
    gap: 80px;
  }
}

@media (width >= 1440px) {
  .content {
    gap: 120px;
  }
}
