.section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.glow {
  position: absolute;
  width: 400px;
  height: 400px;
  top: -40%;
  right: -10%;
  z-index: -2;
  background-color: var(--clr-glow-right-bg);
  filter: blur(100px);
  border-radius: var(--radius-rounded);
}

.image {
  position: absolute;
  z-index: -1;
  top: -25%;
  right: 0;
  width: fit-content;
  height: 600px;
  object-fit: cover;
}

@media screen and (width >= 750px) {
  .glow {
    top: -50%;
    width: 40%;
    height: 40%;
    filter: blur(400px);
  }

  .image {
    top: -45%;
    height: 1000px;
  }
}

@media screen and (width >= 960px) {
  .glow {
    top: -40%;
    right: -30%;
    width: 400px;
    height: 400px;
    filter: blur(200px);
  }

  .image {
    top: -35%;
    height: 1000px;
  }
}

@media screen and (width >= 1200px) {
  .glow {
    top: -50%;
    filter: blur(400px);
  }

  .image {
    height: 900px;
  }
}
