.section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;

  width: 100%;
}

.glow {
  position: absolute;
  width: 90vw;
  aspect-ratio: 1/1;
  top: -40vw;
  right: -30%;
  z-index: -2;
  background: rgba(204, 11, 11, 0.5);
  filter: blur(150px);
  border-radius: var(--radius-rounded);
}

.image {
  position: absolute;
  z-index: -1;
  top: -25vw;
  right: -35%;

  height: 70vw;
  width: auto;

  opacity: 0.4;
}

@media screen and (width >= 750px) {
  .glow {
    width: 40vw;
    top: -25vw;
    background: rgba(204, 11, 11, 0.5);
    filter: blur(200px);
  }

  .image {
    top: -20vw;
    right: -30%;
    height: 55vw;
    width: auto;
  }
}

@media screen and (width >= 960px) {
  .image {
  }
}

@media screen and (width >= 1200px) {
  .glow {
    width: 40vw;
    background: rgba(204, 11, 11, 0.5);
    filter: blur(350px);
  }

  .image {
    top: -20vw;
    right: -20%;
    height: 40vw;
    width: auto;
  }
}
