.section {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.titleContainer {
  position: relative;

  max-width: 1920px;
}

.titleContainer:after {
  position: absolute;
  top: 0;
  right: 0;

  width: 80vh;
  max-width: 299px;
  border-radius: 50%;

  background: rgb(124 254 253 / 60%);
  transform: translate(50%, -25%) translate3d(0, 0, 0);
  filter: blur(150px);

  content: "";
  aspect-ratio: 1/1;
}

.image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;

  width: 80vh;
  max-width: 433px;

  transform: translate(50%, -25%);
}

.titleContainer {
  width: 80%;
  margin-inline: auto;
}

.image img {
  width: 100%;
  height: 100%;

  transform: rotate(180deg);
}

@media screen and (min-width: 744px) {
  .image {
    max-width: 733px;

    transform: translate(50%, -35%);
  }

  .titleContainer {
    width: 90%;
  }

  .titleContainer:after {
    max-width: 461px;

    transform: translate(50%, -25%);
  }
}

@media screen and (min-width: 960px) {
}

@media screen and (min-width: 1200px) {
  .titleContainer {
    width: 70%;
  }

  .titleContainer:after {
    max-width: 581px;

    transform: translate(50%, -25%);
    filter: blur(345px);
  }

  .image {
    max-width: 1200px;

    transform: translate(50%, -35%);
  }
}
