.asterisk {
  position: relative;

  display: block;
  box-sizing: border-box;
  width: 5px;
  height: 5px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;

  color: red;

  box-shadow: inset 0 0 0 2px;
}

.asterisk::after,
.asterisk::before {
  position: absolute;

  display: block;
  box-sizing: border-box;
  width: 2px;
  height: 12px;

  background: currentcolor;
  transform: rotate(55deg);

  content: "";
}

.asterisk::after {
  transform: rotate(-55deg);
}
