.section {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

.container {
  --gap-working-conditions: 24px;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: var(--gap-working-conditions);
  justify-content: center;
}

.itemContainer {
  --fs-working-conditions-title: 18px;
  --fs-working-conditions-subtitle: 16px;
  --clr-working-conditions-title: #fff;
  --clr-working-conditions-subtitle: rgba(255, 255, 255, 0.6);

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 416px;

  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.15);

  border: 1px solid green;

  border-radius: 24px;

  background: rgba(255, 255, 255, 0.04);
}

.itemContainer div:nth-child(2) {
  opacity: 0;
}

.itemContainer div:last-child {
  gap: 8px;
}

.glowRed1,
.glowRed2,
.glowBlue1,
.glowBlue2 {
  position: absolute;
  aspect-ratio: 1/1;

  width: 80%;
}

.glowRed1 {
  top: -10%;
  right: -55%;

  border-radius: 130px;

  background: rgba(204, 11, 11, 0.5);
  filter: blur(100px);
}

.glowBlue1 {
  top: 25%;
  left: -55%;

  border-radius: 163px;

  background: rgba(124, 254, 253, 0.5);
  filter: blur(180px);
}

.glowRed2 {
  top: 52%;
  right: -55%;

  border-radius: 130px;

  background: rgba(204, 11, 11, 0.5);
  filter: blur(100px);
}

.glowBlue2 {
  bottom: -15%;
  left: -35%;

  border-radius: 366px;

  background: rgba(124, 254, 253, 0.4);
  filter: blur(173px);
}

@media screen and (min-width: 744px) {
  .itemContainer {
    height: 516px;
    padding: 30px;
  }

  .itemContainer div:last-child {
    gap: 16px;
  }

  .glowBlue1,
  .glowRed2 {
    visibility: hidden;
  }

  .glowRed1 {
    top: -20%;
    right: -70%;
  }

  .glowBlue2 {
    bottom: -20%;
    left: -65%;
  }
}

@media screen and (min-width: 960px) {
  .itemContainer {
    height: 616px;
  }

  .glowBlue2 {
    bottom: -30%;
    left: -65%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    --gap-working-conditions: 20px;

    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  .itemContainer {
    height: 624px;
    padding: 40px;
  }

  .itemContainer div:last-child {
    gap: 24px;
  }

  .itemContainer:nth-child(2) div:last-child {
    gap: 10px;
  }

  .glowRed1 {
    top: -30%;
    right: -75%;
  }

  .glowBlue2 {
    bottom: -60%;
    left: -80%;
  }
}

@media screen and (min-width: 1440px) {
  .glowRed1 {
    right: -80%;
  }

  .glowBlue2 {
    bottom: -65%;
    left: -80%;
  }
}

@media screen and (min-width: 1920px) {
  .glowRed1 {
    right: -90%;

    filter: blur(173px);
  }

  .glowBlue2 {
    bottom: -100%;
    left: -80%;
  }
}

@media (hover: hover) {
  .itemContainer:hover div:nth-child(2) {
    opacity: 1;
  }
}
