.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 16px;
  font-weight: var(--fw-light);
  line-height: 130%;
  letter-spacing: -0.8px;
  color: var(--clr-secondary-text);
}

@media (width >= 744px) {
  .content {
    letter-spacing: -1.25px;
  }
}

@media (width >= 1200px) {
  .container {
    align-items: flex-end;
    text-align: end;
  }

  .content {
    font-size: 25px;
    max-width: 70%;
  }
}
